*{
  margin: 0px;
  padding: 0;

}


body{
  
  
  font-size: 16px;
  background: #504e43;
}
.contenedor{
  background: #182c63;
  max-width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}
header{
  background: #a31010;
  text-align: center;
  
  
}
header h1{
  padding: 20px;
  font-family: 'Libre Baskerville', serif;

  
}
header nav {

  font-size: 1.2em;
  
  width: 25%;
  float: left;
  
    

}
header nav a{
  text-decoration: none;
  display: inline-block;
  padding: 25px;
  color: black;

  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
    
    
  
}
header nav a:active {
  text-decoration: underline;
  
}
header nav a:hover{
  background: #999bbd;
  font-size:55px;

}
main{
  background: #a31010;
  width: 50%;
  float:left;
  text-align: justify;
}
.logo0 img{
  width: 100%;

}
.logo img{
  width: 100%;
}
article h2{
  color: #ffffff;
  font-size: 2em ;
  margin-top: 8px;
  margin-bottom: 15px;
  padding-left: 15px;
}
article p{
  font-size: 1em;
  padding: 12px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  
}
aside{
  background: #182c63;
  width: 25%;
  float: left;
  line-height: 25px;
  font-family: 'Libre Baskerville', serif;
  
}
.aside1{
  padding: 20px;
  
  text-align: justify;
}
.enlaces li a{
  text-decoration: none;
  padding: 10px; 
  color: black;  
 
}
.enlaces li{
  list-style: none;
  padding: 15px;
}


.enlaces li a:hover{
  background: #999bbd;
}
.enlaces a{
  color: rgb(219, 23, 23);
 
}
footer{
  background: #ebb3a9;
  width: 100%;
  float: left;
  font-size: 1em;
  text-align: center;
  
  padding: 20px;
}


@media screen and (max-width:600px) 
{
    body{
        
        font-size: 15px;
        background: rgb(0, 0, 0);      
    }
    main{
      width: 100%;
    }
    header nav{
      width: 100%;
    }
    .logo{
      width: 250px;
      padding-left: 115px;
    }
    
}
@media screen and (max-width:500px) {
    
    
    aside{
        display: none;
    }
    
    
}