*{
    margin: 0px;
    padding: 0;
  
  }
  body{
  
  
    font-size: 16px;
    background: #e79a09;
  }
  .contenedor{
    background: #f5dd0a;
    max-width: 610px;
    margin:  auto;
    overflow: hidden;
    margin-top: 10px;
  }
  header h2{
      padding: 20px;
      background: rgb(240, 248, 255);
      font-size: 2.5em;
      text-align: center;
  }
  main ul{
      padding: 35px;
      line-height: 25px;
      font-size: 1.5em;
      
      
  }
  main ul li{
      margin-top: 8px;
  }
  footer{
      background: #ffb23e;
      padding: 15px;
      text-align: center;
      color: white;
      font-size: 0.7em;
  }
  img{
      width: 100%;
      padding: auto;
  }
  .contenedor p{
      text-align: center;
      font-size: 1.5em;
      
      
  }
  input[type="text"]{
	width: 95%;
    margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
    border-radius: 10px;
    border-color: yellow;
    font-size: 1.5em;
    
}
form .bot {
	width: 100%;
	background: #ff7b00;
	color: rgb(12, 11, 11);
	border-radius: 15px;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
}

input[type=button]:hover{
    background: red;
    color: white;
}
.contenedor label{
    font-size: 2em;
}
  